@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FuturaPtLight";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/futura-pt/FuturaCyrillicLight.ttf")
    format("truetype");
}

@font-face {
  font-family: "FuturaPtMedium";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/futura-pt/FuturaCyrillicMedium.ttf")
    format("truetype");
}

@font-face {
  font-family: "FuturaPtBold";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/futura-pt/FuturaCyrillicBold.ttf") format("truetype");
}

@layer base {
  html,
  body,
  #root {
    height: 100dvh;
  }

  html {
    font-family: "FuturaPtMedium", Arial, sans-serif;
  }
}
